.Container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Form {
  width: 350px;
  height: max-content;
  background-color: var(--form-bg-color);
  border-radius: 4px;
  padding: 2rem 1rem;

  .Title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2.5rem;
    }
  }

  .Field {
    width: 100%;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:focus-within label {
      color: var(--primary-theme-color);
    }

    label {
      width: 45%;
      font-size: 1.6rem;
      font-weight: 500;
      transition: color 0.2s ease-in-out;

      span {
        font-size: 1rem;
      }
    }

    input {
      width: 100%;
      font-size: 1.6rem;
      outline: none;
      padding: 0.5rem;
      border: 1.5px solid grey;
      background-color: #eeeeee;
      border-radius: 4px;
      transition: border-color 0.2s ease-in-out;

      &:focus {
        border-color: var(--primary-theme-color);
      }
    }
  }

  .Button {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    button {
      position: absolute;
      left: 50%;
      width: max-content;
      height: max-content;
      transform: translateX(-50%);
      appearance: none;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      border-radius: 4px;
      cursor: pointer;
      transition: left 0.1s ease-in-out;

      &.MoveLeft {
        left: 25%;
      }

      &.MoveRight {
        left: 75%;
      }
    }
  }
}
